#hero-img{

    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

    background-image: url(../images/Large/hero.jpg);
    background-size: cover;
    background-position: center;
}

#introduction{

    margin: 2vh 5vw;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    gap: 1vh 1vw;
}


#information{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2vh 2vw;
    color: var(--secondary-font-color)
}

@media screen and (min-width: 1600px) {

    #intro-coffee{
        background-image: url(../images/Large/Coffee.jpg);
        background-position: center;

    }

    #intro-drinks{
        background-image: url(../images/Large/Drinks.jpg);
        background-position: center;
    }

    #intro-desserts{

        background-image: url(../images/Large/Desserts.jpg);
        background-position: center;
    }

    #intro-pastry{
        background-image: url(../images/Large/Pastry.jpg    );
        background-position: center;
    }
    
}
@media screen and (max-width:1600px){
    
    #intro-coffee{
        background-image: url(../images/Medium/Coffee.jpg);
        background-position: center;

    }

    #intro-drinks{
        background-image: url(../images/Medium/Drinks.jpg);
        background-position: center;
    }

    #intro-desserts{

        background-image: url(../images/Medium/Desserts.jpg);
        background-position: center;
    }

    #intro-pastry{
        background-image: url(../images/Medium/Pastry.jpg);
        background-position: center;
    }
}
@media screen and (max-width: 1000px){

    #information{

        flex-direction: column;
    }

    #information div{

        margin: 2vh 0;
    }
    
}

@media screen and (max-width: 800px){


    #introduction{

        grid-template-columns: 1fr;
        height: 150vh;
    }

}


