@media screen and (max-width: 1500px)
{
    *{
        color: red;
    }
    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 90vh;
    }
}

@media screen and (min-width: 800px){
    #gallery{
        display: grid;
        height: 90vh;
        grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
        gap: 1.5em;
        margin: 1.5vh 2vw;
        gap: 5em 10em;
    }

}

#gallery div{

    background-image: url(../images/cupcake.png);
    background-position: center;
}