:root{
    --primary-bg-color: black;
}

body{
    margin: 0;
}

nav{
  background-color: var(--primary-bg-color);
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
  height: 4vh;
}

nav a{
    color: white;
    text-decoration: none;
}
nav div{
    display: block;
    width: 45vw;
}
nav .logo-area{
}
nav .nav-area{
    text-align: end;
}

.nav-area a{

    margin: 0 .5vw;
}

#hero-img{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    height: 80vh;
}

#information{

    display: flex;
    align-items: center;
}