:root{
    --primary-bg-color: #0F0E0E;
    --secondary-font-color: black;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1{
    margin: 0;
}

nav{
  background-color: var(--primary-bg-color);
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
  padding: 1vh 0;
}

nav a{
    color: var(--primary-color);
    text-decoration: none;
}
nav div{
    display: block;
    width: 45vw;
}
nav .nav-area{
    text-align: end;
}

.nav-area a{

    margin: 0 .5vw;
}


footer{

    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    padding: 1vw;

}

.sm-links{

    font-size: 3em;
}

footer div{

    margin: 0 2.5vw;
}

.background-image{

    background-size: cover;
    background-repeat: no-repeat;

}

iframe{

    border: none;
    width: 45vw;
}

@media screen and (max-width: 600px){
    
    .sm-links{

        font-size: 1.5em;

    }

    footer div{

        margin: 0 1.5vw;
    }

}