:root{
    --primary-bg-color: #0F0E0E;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    margin: 0;
}

nav{
  background-color: var(--primary-bg-color);
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
  padding: 1vh 0;
  color: white;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{

    text-decoration: underline;

}

nav div{
    display: block;
    width: 45vw;
}
nav .nav-area{
    text-align: end;
}

.nav-area a{

    margin: 0 .5vw;
}

footer{

    color: white;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-around;
    padding: 1vw;

}

.sm-links{

    font-size: 3em;
}

footer div{

    margin: 0 2.5vw;
}

.background-image{

    background-size: cover;
    background-repeat: no-repeat;

}

@media screen and (max-width: 1000px) {
    
    .sm-links{

        font-size: 2em;

    }

}

@media screen and (max-width: 600px){
    
    .sm-links{

        font-size: 1em;

    }

    footer div{

        margin: 0 1.5vw;
    }

}